EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
EXPO_PUBLIC_RC_ANDROID_KEY=goog_your_revenuecat_android_api_key
EXPO_PUBLIC_RC_ENTITLEMENT_ID=pandra_pro
EAS_BUILD_NO_EXPO_GO_WARNING=true

# Convex Cloud Database
EXPO_PUBLIC_CONVEX_URL=https://your-convex-deployment.convex.cloud
